<!-- these are the questions (as clickable links) that appear on the main page -->

<div class="questionTile">
  <li class="questionTile">
    {{#link-to 'question' question.id}}<span class="indexQuestion">{{question.title}}</span><span class="indexAuthor">  posted by {{question.author}}</span>{{/link-to}}
  </li><br>
</div>
