<div class="questionContainer">

  <h3>Complete the following form to add a question!</h3>
  <form>
    <label for="title">Question:</label>
    {{input value=title id="title"}}
    <br><br>
    <label for="notes">Notes:</label>
    {{input value=notes id="notes"}}
    <br><br>
    <label for="author">Author:</label>
    {{input value=author id="author"}}
    <br><br>
    <button {{action 'saveQuestion'}} class="button">Save New ?</button>
  </form>

</div>
