
 #navbar {
  top: 0;
  float: left;
  position: fixed;
  background-color: teal;
  height: 100%;
  width: 15%;
  padding: 1%;
  margin-left: -10px;
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

.navTitle {
  font-size: 500%;
  font-weight: bolder;
}

a {
  color: white;
  font-size: 150%;
  font-family: 'Nothing You Could Do', cursive;
  text-decoration: none;
}

.fa {
  color: white;
  font-size: 110%;
}
.footer {
  display: block;
  padding-bottom: 1%;
  margin-top: 75px;
  font-size: 60%;
  position: absolute;
  bottom: 0px;
  margin-left: 37%;
  text-align: center;
  font-size: 14px;
  font-family: 'Nothing You Could Do', cursive;
}
