body {
  background-color: #2a2e35;
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

 #navbar {
  top: 0;
  float: left;
  position: fixed;
  background-color: #0c4744;
  height: 100%;
  width: 15%;
  padding: 1%;
  margin-left: -10px;
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

.navTitle {
  font-size: 500%;
  font-weight: bolder;
}

a {
  color: white;
  font-size: 150%;
  font-family: 'Nothing You Could Do', cursive;
  text-decoration: none;
}

.fa {
  color: white;
  font-size: 110%;
}
.footer {
  display: block;
  padding-bottom: 1%;
  margin-top: 75px;
  font-size: 60%;
  position: absolute;
  bottom: 0px;
  margin-left: 37%;
  text-align: center;
  font-size: 14px;
  font-family: 'Nothing You Could Do', cursive;
}

.indexContainer {
  padding-left: 18%;
}

.indexList {
  list-style: none;
}

.indexQuestion {
  font-size: 1.25em;
  letter-spacing: 1px;
}

.indexAuthor {
  color: teal;
}

.questionContainer {
  padding-left: 18%;
  font-size: 150%;
  text-decoration: none;
}

form,
input[type="text"] {
    width: 800px;
    /*height: 50px;*/
    font-size: 100%;
}

.button {
  border-radius: 10px;
  font-size: 70%;
  color: white;
  background-color: teal;
  font-family: 'Nothing You Could Do', cursive;
  padding: 15px;
}
