<div>
  <div id="navbar">
    <h1 class="navTitle">?</h1>
    {{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i> Home{{/link-to}}
    <br><br>
    {{#link-to 'create'}}<i class="fa fa-plus-circle" aria-hidden="true"></i> New ?{{/link-to}}
  </div>

  <div>
    {{outlet}}
  </div>
</div>

<div class="footer">
  Copyright (c) 2017 Michaela Davis All Rights Reserved.
</div>
