<div>
  <div id="navbar">
    <h1 class="navTitle">?</h1>
    {{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i> Home{{/link-to}}
    <br><br>
    {{#link-to 'create'}}<i class="fa fa-plus-circle" aria-hidden="true"></i> New ?{{/link-to}}
    <div class="footer">
      Copyright (c) 2017 <br>Michaela Davis <br>All Rights Reserved.
    </div>
  </div>

  <div>
    {{outlet}}
  </div>
</div>
