<div class="indexContainer">

  <br><br>

  <ul class="indexList">
    {{#each model as |question|}}
    <li><span class="indexQuestion">{{question.title}}</span><span class="indexAuthor">  posted by {{question.author}}</span></li><br>
    {{/each}}
  </ul>

</div>
